[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "==4.0.1"
molecule-inspec = "==1.1"
molecule = {version = "==3.6.0", extras = ["docker", "podman", "lint"]}
testinfra = "==6.0.0"
yamllint = "==1.26.3"

[dev-packages]

[requires]
python_version = "3.9"
