[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-lint = "*"
molecule-inspec = "*"
molecule = {version = "==4.0.3", extras = ["docker", "podman", "lint", "test"]}

[dev-packages]

[requires]
python_version = "3.9"
