---
name: DockerHub CI

on:
  push:
    branches:
      - master
      - releases/*
    tags:
      - '*'
    paths:
      - 'Dockerfile'
      - 'action.yml'

env:
  DOCKER_IMAGE_NAME: gofrolist/molecule

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ env.DOCKER_IMAGE_NAME }}
          tag_with_ref: true
          tags: v2,latest

  molecule:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Molecule
        uses: docker://gofrolist/molecule:latest
        with:
          molecule_options: --version
