---
name: Publish

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      TAG_NAME:
        description: 'Tag name that the major tag will point to'
        required: true

env:
  DOCKER_IMAGE_NAME: gofrolist/molecule
  TAG_NAME: ${{ github.event.inputs.TAG_NAME || github.event.release.tag_name }}

permissions:
  contents: write

jobs:
  publish:
    name: Publish Release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4.4.0
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}
            type=ref,event=branch

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.5.0

      - name: Login to DockerHub
        if: github.event_name == 'release'
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          push: ${{ github.event_name == 'release' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Update the ${{ env.TAG_NAME }} tag
        id: update-major-tag
        uses: actions/publish-action@v0.2.2
        with:
          source-tag: ${{ env.TAG_NAME }}
          # slack-webhook: ${{ secrets.SLACK_WEBHOOK }}

      # - name: Update major tag
      #   uses: Actions-R-Us/actions-tagger@latest

  validate:
    needs:
      - publish
    runs-on: ubuntu-22.04
    steps:
      - name: Test run Molecule from DockerHub latest image
        uses: docker://gofrolist/molecule:latest
        with:
          molecule_options: --version
