---
name: Test

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - '.github/dependabot.yml'

env:
  DOCKER_IMAGE_NAME: gofrolist/molecule

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.5.0

      - name: Build Docker image
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          load: true
          tags: ${{ env.DOCKER_IMAGE_NAME }}:test
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Test Molecule default pipeline
        env:
          ANSIBLE_FORCE_COLOR: '1'
        run: |
          docker run \
          -v /var/run/docker.sock:/var/run/docker.sock \
          ${{ env.DOCKER_IMAGE_NAME }}:test \
          sh -c "\
            molecule --version \
            && molecule init role --driver-name docker gofrolist.validate && cd validate \
            && sed -i 's/gofrolist.//g' molecule/default/converge.yml \
            && molecule test \
          "
